[submodule "tpch-dbgen"]
	path = tpch-dbgen
	url = https://github.com/harshanavkis/tpch-dbgen
[submodule "fresh-sqlite"]
	path = fresh-sqlite
	url = https://github.com/harshanavkis/fresh-sqlite
[submodule "openssl-src"]
	path = openssl-src
	url = https://github.com/openssl/openssl.git
[submodule "sqlite-speedtest"]
	path = sqlite-speedtest
	url = https://github.com/harshanavkis/sqlite-speedtest-custom
